.wrapper {
    min-height: var(--height-background);
    background-color: #fff1e8;
    color: #111111;
    header {
        width: 100%;
        height: 64px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        align-self: flex-start;
    }
}

.project,
.ldpages {
    h3 {
        padding: 30px 0;
    }
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.slickslider {
    width: 80%;
    margin-bottom: 50px;
}

.content-item {
    position: relative;
    img {
        width: 100%;
        min-height: 350px;
        border: 2px solid #ffffff;
        border-radius: 6px;
        margin-bottom: 12px;
    }
    img:hover ~ .btn,
    .btn:hover {
        color: #111111;
        background-color: #ffffff;
        border-radius: 6px;
        transition: 0.3s linear;
        animation: fade 1.5s infinite ease-in;
    }
    div {
        margin: 30px 0;
        font-size: 24px;
        text-align: center;
    }
    .btn {
        position: absolute;
        right: 20px;
        bottom: 120px;
        padding: 4px 10px;
        font-size: 24px;
        background-color: transparent;
        color: transparent;
        text-decoration: none;
    }
}

.cv {
    position: relative;
    display: inline-block;
    font-size: 24px;
    padding: 12px 60px;
    margin-bottom: 40px;
    background-color: #caef46;
}
.cv span {
    position: absolute;
    display: block;
    background-image: linear-gradient(to right, #ffa400, #00eafd);
    transition: all 0.25s linear;
}

.cv span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
}

.cv span:nth-child(2) {
    top: 0;
    right: 0;
    width: 3px;
    height: 0;
    transition-delay: 0.25s;
}

.cv span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transition-delay: 0.5s;
}

.cv span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 3px;
    height: 0;
    transition-delay: 0.75s;
}

.cv:hover span:nth-child(odd) {
    width: 100%;
}

.cv:hover span:nth-child(even) {
    height: 100%;
}

.stick1 {
    position: absolute;
    right: 0px;
    top: 0;
    animation: spinner 5s infinite linear reverse;
}

.stick2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 300px;
    animation: spinner 2s infinite linear;
}

.stick3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    animation: snake 0.5s infinite linear alternate;
}

.stick4 {
    position: absolute;
    left: 7%;
    top: 100px;
}

.stick5 {
    position: absolute;
    right: 7%;
    bottom: 180px;
}

.move {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 20px;
    background-color: #8376f4;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    svg {
        margin-left: 4px;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes snake {
    to {
        transform: rotate(30deg);
    }
}

@keyframes bounce {
    to {
        transform: translateY(-10px);
    }
}

@keyframes fade {
    to {
        opacity: 0.8;
        scale: 1.2;
    }
}
