.wrapper {
    height: var(--height-background);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../../images/background6.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .logoghost {
        position: absolute;
        top: 5%;
        left: 10%;
    }
}
