.wrapper-home {
    height: var(--height-background);
    background-image: url('../../../images/meiying-ng-OrwkD-iWgqg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dark {
    background-image: url('../../../images/rainminimal.jpg');
    color: #fff;
}

.header {
    width: 100%;
    margin-bottom: 24px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.tiltle {
    font-size: 60px;
}

.detail {
    font-size: 16px;
}

.login {
    margin: 24px 0px 12px;
}
